<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Calculator</title>
    <link rel="stylesheet" href="/static/main.css" />
    <link rel="shortcut icon" href="/static/favicon.png" type="image/x-icon" />
  </head>
  <body>
    <div class="label">
      <legend>A Simple Calculator !</legend>
    </div>
    <div class="main-body">
      <textarea name="" id="result">0</textarea>
      <div class="button">
        <button type="submit" class="numbers">C</button>
        <button type="submit" class="numbers">0</button>
        <button type="submit" class="numbers">*</button>
        <button type="submit" class="numbers">+</button>
        <button type="submit" class="numbers">1</button>
        <button type="submit" class="numbers">2</button>
        <button type="submit" class="numbers">3</button>
        <button type="submit" class="numbers">-</button>
        <button type="submit" class="numbers">4</button>
        <button type="submit" class="numbers">5</button>
        <button type="submit" class="numbers">6</button>
        <button type="submit" class="numbers">/</button>
        <button type="submit" class="numbers">7</button>
        <button type="submit" class="numbers">8</button>
        <button type="submit" class="numbers">9</button>
        <button type="submit" class="numbers">=</button>
      </div>
    </div>
    <script src="/static/script.js"></script>
  </body>
</html>
